<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lit_calc_sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A8B54481DDC399100151BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8B545C1DDC399100151BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8B54671DDC399100151BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
